<h1>{{ question.subject }}</h1>
<div>
    데이터 출처 : {{ product.flag }} <br>
    관리번호 : {{ product.item_id }} <br>
    주거타입 : {{ product.service_type }} <br>
    거래타입 : {{ product.sales_type }} <br>
    층 : {{ product.floor }} <br>
    월세 : {{ product.rent_price }} 만원<br>
    보증금 : {{ product.deposit }} 만원 <br>
    공급면적 : {{ product.supply_area }} ㎡<br>
    전용면적 : {{ product.use_area }} ㎡<br>
    특이사항 : {{ product.content }} <br>
    URL : <a href="{{ product.url }}">{{ product.url }}</a> <br>
    등록날짜 : {{ product.date }} <br>
    가격점수 : {{ product.price_score }} <br>
    면적당 가격 : {{ product.ppa }} 만원<br>
</div>